{% extends "base.html" %}
{% block content %}
    {% for post in posts %}
        <h2>{{ post.title }}</h2>
        <p>{{ db.dbconnectionname }}</p>
        <p>{{ post.timestamp|date:"Y-m-d H:i:s , l" }}</p>
        <p>{{ post.description }} &nbsp &nbsp &nbsp <b>执行时间：{{ post.exectime }}</b></p>
        <p>{{ post.sqltext }}</p>
        {% for job in jobs %}
            {% ifequal post.jobid  job.jobid_id  %}
                {% if job.iswarning %}
                    <p><b><font color="#FF0000">{{ job.warningmessage }}</font></b></p>
                {% else %}
                    <p><b>{{ job.warningmessage }}</b></p>
                {% endif %}
            {% endifequal %}
        {% endfor %}
    {% endfor %}
{% endblock %}